.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

ul {
  margin-left: auto;
}

.navbar-brand {
  color: #433f8f;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 0px 4px;
}

.navbar a:hover {
  color: #3498db;
}

.navbar li a:active {
  color: black;
}

.brand-name {
  color: #433f8f;
}

#header {
  margin-top: 40px;
  height: 80vh;
}
.animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
.card img{
  height: 200px;
}
footer{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}